.contact {
  min-height: 100vh;
  padding: 2rem;
  margin-top: 4rem;
  position: relative;
  transition: all 10ms ease-in-out;
}
.content {
  width: 48%;
}
.main {
  margin: 2rem 0 4rem;
}
.card {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.9);
}
.delivery {
  width: 80%;
  margin-top: 2rem;
}
.map {
  position: absolute;
  top: 0;
  right: 0;
  width: 45%;
  height: 85%;
  border-bottom-left-radius: 10rem;
  overflow: hidden;
}

.bgBlue {
  background-color: var(--cream);
  width: 15rem;
  height: 5rem;
  position: absolute;
  top: 33%;
  left: 40%;
  z-index: -9;
}
.bgOrange {
  width: 10rem;
  height: 10rem;
  background-color: var(--orange);
  border-radius: 50%;
  position: absolute;
  left: -3%;
  top: 30%;
  z-index: -9;
}

.attribution {
  font-size: 0.7rem;
  color: rgb(187, 187, 187);
  letter-spacing: 1px;
  position: absolute;
  bottom: 5%;
  left: 0;
  margin-left: 2rem;
}
.attributionLink {
  color: rgb(187, 187, 187);
  text-decoration: underline;
}

@media (max-width: 36rem) {
  .contact {
    padding: 1rem;
  }
  .content {
    width: 100%;
    text-align: center;
  }
  .card {
    text-align: left;
  }
  .main {
    margin-bottom: 2rem;
  }
  .map {
    position: initial;
    width: 100%;
    box-shadow: 0 0 8px rgba(116, 116, 116, 0.2);
    border-radius: 0;
    margin-bottom: 3rem;
  }
  .attribution {
    margin-left: 1rem;
    bottom: 1rem;
  }
  .delivery {
    margin-top: 2rem;
    width: 100%;
    margin-bottom: 4rem;
  }
}
