@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500;700&family=Roboto:wght@300;400;700&display=swap");

:root {
  --greenPrimary: rgb(42, 86, 49);
  --greenSecondary: rgb(126, 168, 137);
  --orange: rgb(216, 98, 55);
  --cream: rgb(242, 232, 216);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
  color: var(--greenPrimary);
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;

  &-column {
    flex-direction: column;
  }

  &-between {
    justify-content: space-between;
  }
}

.container {
  margin-left: 6rem;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;

  @media (max-width: 64rem) {
    margin: 0;
  }
}

.btn {
  cursor: pointer;
  padding: 0.25rem 1rem;
  border-radius: 2rem;
  display: inline-block;
  &-primary {
    border: 1px solid var(--greenPrimary);
    color: var(--greenPrimary);
  }
}

.san-serif {
  font-family: "Roboto", sans-serif;
}
.xl {
  font-size: 3.125rem;
}
.lg {
  font-size: 2.5rem;
}
.lead {
  font-size: 1.5rem;
}
.md {
  font-size: 1rem;
}
.sm {
  font-size: 0.875rem;
}
.thin {
  font-weight: 300;
}
.ls-2 {
  letter-spacing: 2px;
}
.text-center {
  text-align: center;
}
.text-primary {
  color: var(--greenPrimary);
}
.text-orange {
  color: var(--orange);
}

.shadow {
  box-shadow: 0 0 8px rgba(116, 116, 116, 0.2);
}
